#!/usr/bin/env bash
set -euo pipefail

# 存在していれば開発時に使う共有されている環境変数群を読み込みます。
dotenv_if_exists .env.deve

# Nix Flakesのロード。
use flake . --accept-flake-config

# 存在していればローカルなカスタムが最後に優先されるように読み込みます。
dotenv_if_exists .env.local
