.cache/
auto-save-list/
eclipse.jdt.ls/
elpa/
file-backup/
server/
transient/
undo-tree/
url/
workspace/

%backup%~
.emacs.desktop*
.lsp-session*
abbrev_defs
ac-comphist.dat
custom.el*
history
places
recentf
tramp
