[submodule "mine/haskell-echo-type"]
	path = mine/haskell-echo-type
	url = git@github.com:ncaq/haskell-echo-type.git
[submodule "mine/ncaq-emacs-utils"]
	path = mine/ncaq-emacs-utils
	url = git@github.com:ncaq/ncaq-emacs-utils.git
[submodule "mine/recentf-purge-tramp"]
	path = mine/recentf-purge-tramp
	url = git@github.com:ncaq/recentf-purge-tramp.git
[submodule "mine/symbolword-mode"]
	path = mine/symbolword-mode
	url = git@github.com:ncaq/symbolword-mode.git
[submodule "mine/auto-sudoedit"]
	path = mine/auto-sudoedit
	url = git@github.com:ncaq/auto-sudoedit.git
