%backup%~
.emacs.desktop
.emacs.desktop.lock
ac-comphist.dat
auto-save-list
emacs-backup
eshell
history
image-dired
recentf*
tramp
undohist
undohist
url
var

.mc-lists.el*
elpa/*.txt
session.*

GPATH
GRTAGS
GTAGS
TAGS
tags
