name: push

on:
  workflow_dispatch:
  push:
    branches: master
  pull_request:

permissions:
  contents: read

jobs:
  nix-flake-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - run: nix flake check
